services:
	- App\AdminModule\Forms\BaseForm
	- App\AdminModule\Forms\UsersEditForm
	- App\AdminModule\Forms\UsersProfileForm
	- App\AdminModule\Forms\UsersProfilePageForm
	- App\AdminModule\Forms\DroneForm
	- App\AdminModule\Forms\PlaceForm
	- App\AdminModule\Forms\EventForm
	- App\AdminModule\Forms\VideoForm