<footer class="text-muted border border-left-0 border-right-0">
    <div class="container">
        <p class="float-left">All rights reserved FpvSpots.info &copy; 2017. Created by <a href="mailto:xnukes@gmail.com">Lukáš Vlček</a>.</p>
        <p class="float-right">
            <a href="#"><i class="fa fa-arrow-up"></i> Nahoru</a>
        </p>
        <div class="clearfix"></div>
    </div>
</footer>