/* login form footer*/
.login-footer a {
    color: black;
    text-decoration: underline;
}

.login-footer {
    background-color: rgba(240, 240, 240, 0.5);
    padding: 4px 0px;
    border-radius: 5px;
    color: black;
    text-shadow: white 1px 1px 6px;
    width: 100%;
    display: inline-block;
    font-size: 9px;
    border: 1px solid #ccc;
}

/*
* custom stylesheet file
*/

.img-bg {
    background: none;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-color: #2a2e39;
    background-blend-mode: screen;
    background-attachment: fixed;
}
.padding-15.img-bg {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    overflow: scroll;
    height: 102%;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    border-color: #ec3030;
    color: rgba(0,0,0,0.4);
}

body.bg-bw {
    background-blend-mode: luminosity;
}

span.logo span.title {
    font-weight: bold;
    font-size: 22px;
    margin: 5px 0px;
    display: block;
    color: white;
}

.datagrid-row-inline-add-hidden {
    display: none;
}

.select2-container--default .select2-selection--multiple {
    border: 2px solid #ddd;
    height: 40px;
}

.sky-form .btn {
     margin: 0px;
}

/* databgrid ublaboo table admin */
div.panel-body tbody, div.panel-body thead {
    border: 1px solid #ddd;
}
.datagrid form {
     margin-bottom: 0px;
}

/* wall component */
.wall-msg-content {
    background: #0000000d;
    padding: 8px 16px;
    border-radius: 20px;
}