<!doctype html>
<html lang="{$parameters->encoding}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{$parameters->sitetitle} | Administrace</title>
    <meta name="description" content="" />
    <meta name="Author" content="{$parameters->metaauthor}" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />
    <link href="{$basePath}/Admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{$basePath}/Admin/assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="{$basePath}/Admin/assets/css/layout.css?v={time()}" rel="stylesheet" type="text/css" />
    <link href="{$basePath}/Admin/assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
    <link href="{$basePath}/Admin/css/style.css?v={time()}" rel="stylesheet" type="text/css" id="color_scheme" />
    <link href="{$basePath}/css/main.css" rel="stylesheet" type="text/css" />
    <link href="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid.css" rel="stylesheet" type="text/css" />
    <link href="{$basePath}/Admin/assets/plugins/editor.summernote/summernote.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{$basePath}/css/font-awesome.min.css">

    <link rel="apple-touch-icon" sizes="57x57" href="{$basePath}/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{$basePath}/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{$basePath}/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{$basePath}/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{$basePath}/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{$basePath}/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{$basePath}/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{$basePath}/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{$basePath}/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{$basePath}/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/favicon-16x16.png">
    <link rel="manifest" href="{$basePath}/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{$basePath}/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>