{include 'header.latte'}

Dobrý den,<br>
<br>
Na váš nabízený produkt <strong>{$product->productTitle}</strong> byla zadána poptávka. <br>
Cena produkt <strong>{$product->productPrice}</strong>. <br>
Cena poštovného <strong>{$product->productShipment}</strong>. <br>
<br>
<strong>Poptávající:</strong><br>
Jméno: {$vars->buyerName}<br>
E-mail: <a href="mailto:{$vars->buyerEmail}">{$vars->buyerEmail}</a><br>
Zpráva: {$vars->buyerMessage}<br>
<br>

{include 'footer.latte'}