{include 'header.latte'}

Dobrý den,<br>
<br>
Zažadali jste o nové heslo. Pro změnu klikněte na následující odkaz.<br>
<br>
<strong><a href="{$recoverylink}">Změnit Heslo</a></strong><br>
<br>

{include 'footer.latte'}